 <div id="save_changes_confirmation_Modal" class="modal fade" role="dialog">
  <div class="modal-dialog modal-md">

    <div class="modal-content">
      <div class="modal-header">
        <!-- <span>Warning</span> -->
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>

      <div class="modal-body col-centered">
        <p>
          Do you want to save changes?
        </p>
        <div class="confirm_cancel_buttons">
          <button id="submit" class="cancel_button" data-dismiss="modal">Yes</button>
          <button id="submit" class="confirm_button" data-dismiss="modal">No</button>
        </div>
      </div>
    </div>

  </div>
</div>
