<%= render '/layouts/header' %>

<div class="cont">
  <div class="col-md-12 col-sm-12 col-xs-12">
    <div class="new-recipe">
      <h1>Add recipe</h1>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. <br>
        Proin et porta nunc. In aliquam lacinia ullamcorper.
      </p>

      <%= render 'form' %>
      <%= render 'usda_ingredients' %>

    </div>
  </div>
</div>
