<%= render '/layouts/header' %>

<div class="col-md-12 col-sm-12 col-xs-12 inventory_content">
  <h1>EDIT MEAL PLAN</h1>
  <p>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. <br>
    Proin et porta nunc. In aliquam lacinia ullamcorper.
  </p>
  <%= render 'form' %>
</div>