<%= render "/layouts/header"%>

<!-- <div class="cont"> -->
  <div class="col-md-12 col-sm-12 col-xs-12 about_wrapper">
    <div class="col-md-7 col-sm-7 col-xs-12" id="about_us_content">

      <h1 class="text-center">WHOLESUM. OUR STORY</h1>
      <span class="subheading">Save time. Save money. Reduce food waste.</span>
      <div id="content">
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin
  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin </p>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin </p>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin </p>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin </p>
      </div>
    
    </div>
  </div>
<!-- </div> -->

<script type="text/javascript">
  $(".header a[href='/about_us']").addClass("active");
</script>
