<%= render "/layouts/header"%>



<div class="cont">
  <div class="col-md-12 col-sm-12 col-xs-12"id = "content_header">
      <div class="row">
        <div class="col-centered text-center">

    <div id ="header_content">
      <h1>CONTACT US</h1>
      <span id="subheader">We pride ourselves on having world-class customer service.  If you have any questions about the WHOLESUM Food Calculator, need help getting started or would like to send us ideas for how to improve the application, please don't hesitate to contact us!</span>
    </div>
    <div class="content_and_phone col-centered text-center">
      <div id="phone_number">
        <span>(406) 219-8357</span>
      </div>
      <div id="input_forms" class="col-md-4 col-sm-4 col-xs-4 col-centered text-center">
        <form>
          <input autocomplete="off" class="form-control inputs" placeholder="Name" type="text" name="user[name]" id="user_name">
          <input class="form-control inputs" placeholder="Email Address" type="email" value="" name="user[email]" id="user_email">
          <textarea autocomplete="off" class="form-control inputs" placeholder="Message" rows="5"></textarea>
          <input type="submit" value="SEND MESSAGE" class="submit-button">
        </form>
      </div>
  </div>
  </div>
  </div>
  </div>

</div>
