/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 $helveticaneuecyr-light-font-path: "./fonts/" !default;
 $helveticaneuecyr-light-font-family: "HelveticaNeueLight" !default;
 $link: #6CA085;
 $dark-green: #515B42;
 $but-hover: #4e7561;
/* About Us Page */
.center-block{
  float: right;
}

#header_content{
  padding-bottom: 50px;
}

#content_header{

    h1{
    padding-bottom: 30px;
  }
  span{
    font-family: $helveticaneuecyr-light-font-family;
    font-size: 18px;
  }

}
.content_and_phone{
  position: relative;
  max-width: 600px;

}
.col-centered{
  float: none;
  margin: 0 auto;
  input{
    margin-bottom: 10px;
  }
  textarea{
    margin-bottom: 10px;
    resize: vertical;
  }
}

#input_forms{
  min-width: 365px;
  margin-bottom: 30px;
}

#phone_number {
  position:absolute;
  top:0px;
  left:-55px;
  // max-width: 300px;
  // width: 100%;
  span{
  display: block;
}
//text-align: right;
}


/* end About Us page */
