<p>Welcome <%= @email %>!</p>

<p>
  Thank you for registering your free 30 day trial with the WHOLESUM Food Calculator.  Before you can beging use, we just quickly need to verify your email address. You can confirm your account email through the link below:
</p>

<p><%= link_to 'Confirm my account', confirmation_url(@resource, confirmation_token: @token) %></p>
