<footer class="footer">
  <div class="cont">
    <div class="col-md-4 col-sm-3 section logo-footer">
      <div class="row">
        <div class="logo">
          <%= link_to root_path do %>
            <%= image_tag 'logo.png' %>
          <% end %>
        </div>
      </div>
    </div>
    <div class="col-md-2 col-sm-3 col-xs-4 section">
      <div class="row">
        <nav class="footer-menu" id="menu">
          <ul class="nav navbar-nav navbar-left menu">
            <li><a href="#">About Us</a></li>
            <li><a href="#">FAQs</a></li>
            <li><a href="#">Contact Us</a></li>
          </ul>
        </nav>
      </div>
    </div>
    <div class="col-md-3 col-sm-3 col-xs-4 section">
      <div class="row">
        <div class="help">
          <span>HELP &amp; CONTACT</span>
          <a href="#" class="contants"><span>i</span>Email Support</a>
        </div>
      </div>
    </div>
    <div class="col-md-3 col-sm-3 col-xs-4 section">
      <div class="row">
        <p class="linkup">
          Developing by<br>
          LinkUp Studio
        </p>
      </div>
    </div>
  </div>
</footer>
